{
  "presets": ["es2015", "stage-1", "stage-2", "react"],
  "plugins": [["import", { "libraryName": "antd", "style": "css" }]],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
